/* About Us */
.about-us-section {
  text-align: center;
  background-color: #dcdfe3;
  padding: 2rem 4rem;
  border: none;
  cursor: pointer;
  margin-bottom: 40px;
}

.about-us-content {
  text-align: center;
  margin: 30px auto 50px;
  h4 {
    font-weight: 700;
    font-size: 32px;
  }
  ul {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    span {
      font-weight: 700;
    }
  }
}
