.about-project {
  background-color: #e6f1f3;
  padding: 2rem 10rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.about-project-content {
  text-align: justify;
  word-spacing: 1em;
}
