.home-banner {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 2rem;
  box-sizing: border-box;
  color: #fff;
  flex-wrap: nowrap;
  align-items: center;

  .banner-center {
    width: 20rem;
    height: 100%;
  }

  .banner-right {
    text-align: justify;
  }
}